version: "3.9"

services:
  translator:
    environment:
      LOG_LEVEL: INFO
      WAIT_FOR_KAFKA_TIMEOUT: 240
    command: ["bash", "scripts/run_translator.sh"]
  prevalidator:
    environment:
      LOG_LEVEL: INFO
  audit-worker:
    environment:
      LOG_LEVEL: INFO
      AUDIT_MANIFEST_BATCH: 3
