version: "3.9"

services:
  translator:
    environment:
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      AUDIT_TOPIC: ${AUDIT_TOPIC:-audit.events}
      LOG_LEVEL: INFO
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  prevalidator:
    environment:
      LOG_LEVEL: INFO
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure

  audit-worker:
    environment:
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS}
      AUDIT_TOPIC: ${AUDIT_TOPIC:-audit.events}
      AUDIT_S3_BUCKET: ${AUDIT_S3_BUCKET}
      AWS_REGION: ${AWS_REGION:-us-east-1}
      AUDIT_MANIFEST_BATCH: 3
      LOG_LEVEL: INFO
    deploy:
      restart_policy:
        condition: on-failure

  localstack:
    logging:
      driver: "none"
  kafka:
    logging:
      driver: "none"
  zookeeper:
    logging:
      driver: "none"
