name: Ensure PR body references Issue

on:
  pull_request_target:
    types: [opened, edited]
    branches:
      - develop
      - testing
      - staging
      - main

permissions:
  pull-requests: write

jobs:
  enforce:
    runs-on: ubuntu-latest
    steps:
      - name: Require issue reference in body
        if: github.actor != 'dependabot[bot]'
        uses: mshick/add-pr-body@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          body-string: |
            Closes #
